@use "sass:map";

// This forces the div.container to use all the
// remaining space
html, body {
  height: 100dvh; /* Asegura que el html y body ocupen todo el viewport */
}

body {
  display: flex;
  flex-direction: column;

  width: 100%;
}

/* @define container */
// The main container for the home page.
.container {
  flex-grow: 1;
  margin: 0;
  height: 55vh;
  width: 100%;
  max-width: none;

  color: map.get($theme-colors, "info");

  background-image: url('../images/background-home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/* @define title */
// There are two titles. The default one is displayed
// when the browser doesn't support CSS Grid, and the
// secondary one is displayed otherwise.
.title {
  margin-inline: auto;
  margin-block: 5vh;
  width: 100%;

  text-align: center;
  text-shadow: 1px 2px 4px map.get($theme-colors, "dark");

  &--dot {
    font-family: "Doto", sans-serif;
    font-weight: 900;
  }

  &--left,
  &--right { display: none; }
}

/* @define info */
// This represents the text box in the middle of the page.
.info {
  &__title {
    font-size: map.get($font-sizes, 4);
    text-shadow: 1px 2px 4px map.get($theme-colors, "dark");
  }

  &__text {
    font-size: map.get($font-sizes, 5);
  }

  &__link {
    color: map.get($theme-colors, "secondary");
    text-shadow: 1px 2px 4px map.get($theme-colors, "dark");
  }
}

@supports (display: grid) {
  /* @define container */
  // The main container for the home page.
  .container {
    display: grid;
    grid-template-columns: [cyber] .5fr [space] 2fr [secure] .5fr;
    grid-template-rows: 1fr;

    padding: 0;
    height: fit-content;
  }

  /* @define title */
  // There are two titles. The default one is displayed
  // when the browser doesn't support CSS Grid, and the
  // secondary one is displayed otherwise.
  .title {
    margin: auto;

    font-size: 7.4rem;

    writing-mode: vertical-lr;

    &--dot {
      height: fit-content;
      width: fit-content;

      text-align: center;
    }

    &--hidden { display: none; }

    &--left,
    &--right { display: block; }

    &--left {
      grid-column-start: cyber;
      grid-column-end: cyber;

      writing-mode: vertical-lr;
      letter-spacing: .5rem;
    }

    &--right {
      grid-column-start: secure;
      grid-column-end: secure;

      writing-mode: vertical-rl;
    }
  }

  @include media-breakpoint-down(sm) {
    /* @define title */
    .title {
      font-size: 6rem;
    }
  }

  // This is an arbitrary "mobile-size" breakpoint
  @media screen and (max-width: 412px) {
    /* @define title */
    .title {
      font-size: 4rem;
    }
  }

  /* @define info */
  // This represents the text box in the middle of the page.
  .info {
    grid-column-start: space;
    grid-column-end: space;

    grid-row-start: 1;
    grid-row-end: 1;

    padding-inline: 3vw;
    padding-top: 2vh;
    padding-bottom: 1vh;
    margin: auto;
    height: fit-content;
    width: 70%;

    background-color: map.get($theme-colors, "dark");
    box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, .5);

    animation-name: info-animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

    container-type: inline-size;

    &__title {
      margin-bottom: 2vh;

      text-align: center;
      font-family: "Doto", sans-serif;
      font-weight: 900;
    }

    &__text { text-align: justify; }

    &__link {
      color: map.get($theme-colors, "dark");
      text-decoration: none;
      text-shadow: none;

      background-color: map.get($theme-colors, "light");
    }

    &__link:hover { color: map.get($theme-colors, "primary"); }
  }

  @container (max-width: 204px) {
    .info {
      &__title {
        font-size: map.get($font-sizes, 5);
      }

      &__text {
        font-size: map.get($font-sizes, 6);
      }
    }
  }

  @container (min-width: 560px) {
    .info {
      &__title {
        font-size: map.get($font-sizes, 3);
      }

      &__text {
        font-size: map.get($font-sizes, 4);
      }
    }
  }
}

// Slow up and down animation fo the info text box.
@keyframes info-animation {
  0% {
    transform: translateY(-.5vh);
  }

  50% {
    transform: translateY(.5vh);
  }

  100% {
    transform: translateY(-.5vh);
  }
}
