@use "sass:map";

@layer theme, display;

@layer theme {
  /* @define container-info */
  .container-info {
    color: map.get($theme-colors, "primary");
  }

  /* @define header-info */
  .header-info {
    background-image: url('/src/assets/images/info-bg-title.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    &__title,
    &__author {
      color: map.get($theme-colors, "secondary") !important;
      text-shadow: 1px 2px 4px map.get($theme-colors, "dark");
    }
  }

  :is(.begining-p1, .big-paragraph) {
    font-size: map.get($font-sizes, 3);
    font-weight: 300;
  }
}

@layer display {
  /* @define container-info */
  .container-info {
    container-type: inline-size;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* @define header-info */
  .header-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
  }

  // The selected breakpoint corresponds to
  // the "md" breakpoint from Bootstrap Documentation
  @container (max-width: #{map.get($grid-breakpoints, "md")}) {
    .header-info {
      margin-bottom: 5vh;
      height: 30vh;

      &__title {
        margin-bottom: 5vh !important;
      }
    }
  }

  // The selected breakpoint corresponds to
  // the "md" breakpoint from Bootstrap Documentation
  @container (min-width: #{map.get($grid-breakpoints, "md")}) {
    .header-info {
      margin-bottom: 10vh;
      height: 50vh;

      &__title {
        margin-bottom: 10vh !important;
      }
    }
  }

  :is(.begining, .begining-p1, .begining-p2, .list-info, .big-paragraph, .before-img, .ending, ul, img) {
    text-align: justify;
  }

  // The selected breakpoint corresponds to
  // the "md" breakpoint from Bootstrap Documentation
  @container (max-width: #{map.get($grid-breakpoints, "md")}) {
    :is(.begining, .list-info, .big-paragraph, .before-img, .ending, ul, img) {
      width: 80vw;
    }
  }

  // The selected breakpoints correspond to
  // the "md" and "lg" breakpoints from Bootstrap Documentation
  @container (min-width: #{map.get($grid-breakpoints, "md")}) and (max-width: #{map.get($grid-breakpoints, "lg")}) {
    :is(.begining, .list-info, .big-paragraph, .before-img, .ending, ul, img) {
      width: 60vw;
    }
  }

  // The selected breakpoint correspond to
  // the "lg" breakpoint from Bootstrap Documentation
  @container (max-width: #{map.get($grid-breakpoints, "lg")}) {
    :is(.begining, .begining-p1, .begining-p2, .list-info, .big-paragraph, .before-img, .ending, ul, img) {
      padding-inline: 0 !important;
    }
  }

  /* @define list-info */
  .list-info {
    margin-block: 5vh !important;
    padding-top: 5vh;
    padding-bottom: 3vh;

    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: map.get($theme-colors, "light");
  }

  .list-info ::marker {
    color: map.get($theme-colors, "dark");
    font-size: map.get($font-sizes, 3);
  }

  /* @define image */
  .image {
    margin-block: 5vh;
  }

  /* @define ending */
  .ending {
    margin-bottom: 10vh !important;
  }

  @container (min-width: #{map.get($grid-breakpoints, "lg")}) {
    :is(.begining, .list-info, .big-paragraph, .before-img, .ending, ul) {
      width: 40vw;
    }

    /* @define image */
    .image {
      width: 50vw;
    }
  }

  @container (min-width: #{map.get($grid-breakpoints, "xl")}) {
    /* @define begining-p1 */
    .begining-p1 {
      padding-left: 0 !important;
    }

    /* @define begining-p2 */
    .begining-p2 {
      padding-right: 0 !important;
    }
  }
}
