@use "sass:map";

/* @define container-speakers */
// The main container for the speakers page.
.container-speakers {
  container-type: inline-size;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  padding-inline: 10vw;
  padding-block: 5vh;
  width: 100%;
}

/* @define title-speakers */
.title-speakers {
  margin-top: 10vh;

  color: map.get($theme-colors, "primary");
  text-align: center;
}

// We've defined .container-speakers as our main container for the container queries.
// This means that we cannot edit .container-speakers inside of a container query.
// Therefor, we have to use traditional media queries for this small block of code.
@media screen and (min-width: #{map.get($grid-breakpoints, "md")}) {
  /* @define container-speakers */
  .container-speakers {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.5vw;
    justify-content: center;
    align-items: start;
  }
}

/* @define speaker-card */
.speaker-card {
  flex: 0 0 auto;

  margin-bottom: 5vh;
}

@container (max-width: #{map.get($grid-breakpoints, "sm")}) {
  .speaker-card { flex: 0 0 70cqw; }
}

@container (max-width: #{map.get($grid-breakpoints, "md")}) {
  .speaker-card { flex: 0 0 60cqw; }
}

@container (min-width: #{map.get($grid-breakpoints, "xl")}) {
  .speaker-card { flex: 0 0 30cqw; }
}
