
@use "sass:map";

.speaker-card {
  border: none;

  &__img {
    border-radius: 5px;
  }

  &__body {
    color: map.get($theme-colors, "secondary");
  }

  &__title {
    color: map.get($theme-colors, "primary");
    font-size: map.get($font-sizes, 4);
    text-align: center;
  }

  &__text {
    font-size: map.get($font-sizes, 5);
    text-align: center;
  }
}
