<header class="header">
  <nav
    class="navbar navbar-expand-lg navbar-light bg-light px-5 py-3"
  >
    <a class="navbar-brand text-primary fw-bold fs-4" href="#">
      <i class="fa-solid fa-shield fs-2 me-2"></i>
      <span class="header__title--dot">Cyber</span> Secure
    </a>
    <button
      class="navbar-toggler collapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar-collapsable"
      aria-controls="navbar-collapsable"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="navbar-collapse collapse"
      id="navbar-collapsable"
    >
      <ul class="navbar-nav w-100 d-flex justify-content-end fs-6">
        <li class="nav-item me-4">
          <a class="nav-link link-primary" href="#">Home</a>
        </li>

        <li class="nav-item me-4">
          <a class="nav-link link-primary" href="#">Speakers</a>
        </li>

        <li class="nav-item me-4">
          <a class="nav-link link-primary" href="#">Info</a>
        </li>

        <li class="nav-item">
          <a class="nav-link link-primary" href="#">Other</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
