$font-family-sans-serif: "Roboto", serif;

$navy-blue: #000078;
$navy-blue-p3: color(display-p3 0 0 .47);

$alice-blue: #73edff;
$alice-blue-p3: color(display-p3 0.45 0.93 1);

$celestial-blue: #3fa2f7;
$celestial-blue-p3: color(display-p3 0.25 0.64 0.97);

$steel-blue: #297fca;
$steel-blue-p3: color(display-p3 0.16 0.5 0.79);

$white: #fff;
$white-p3: color(display-p3 1 1 1);

$theme-colors: (
  "primary":    $steel-blue,
  "secondary":  $celestial-blue,
  "info":       $white,
  "light":      $alice-blue,
  "dark":       $navy-blue
);

$font-sizes: (
  1: 2rem,
  2: 1.6rem,
  3: 1.4rem,
  4: 1.2rem,
  5: 0.9rem,
  6: 0.8rem
);
